body {
  font-family: 'Poppins', sans-serif;
}

.box{
  background-color: darkblue;
  color: white;
  /* padding: 20px; */
  width: 300px;

  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 10px;
}