* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #d9e2e8;
}

.container {
  width: 600px;
  margin: 100px auto;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  margin: 20px 0;
  padding: 20px 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

button {
  border-radius: 5px;
  width: 150px;
  height: 40px;
  color: white;
  border: none;
}

.card h2 {
  font-size: 27px;
  margin-bottom: 20px;
}

.card p {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
}

.card-sporty h2 {
  color: red;
}

.card-casual h2 {
  color: blue;
}

.card-formal h2 {
  color: black;
}

.card a {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.card a:hover {
  opacity: 0.8;
}

.card-sporty a {
  background-color: red;
}

.card-casual a {
  background-color: blue;
}

.card-formal a {
  background-color: black;
}

.card-sporty {
  background: #fff url('./images/sporty.png') no-repeat center right;
  background-size: 200px;
}

.card-casual {
  background: #fff url('./images/casual.png') no-repeat center right;
  background-size: 200px;
}

.card-formal {
  background: #fff url('./images/formal.png') no-repeat center right;
  background-size: 200px;
}